# backend/.env.example

# The port your Express server runs on
PORT=3000

# Your PostgreSQL Connection String (Supabase IPv4 Pooler URL)
DATABASE_URL="postgresql://postgres.mtlyaihhzkkmqdbvrglm:[YOUR-PASSWORD]@aws-1-us-east-2.pooler.supabase.com:6543/postgres"
